# Node
node_modules/
**/node_modules/
dist/
dist-ssr/
*.local

# Python
venv/
**/venv/
env/
__pycache__/
*.pyc
.env

# Logs e sistema
.DS_Store
Thumbs.db
*.log
repomix-output.xml
**/repomix-output.xml
